### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [28]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [29]:
Total_Schools = len(pd.unique(school_data_complete['school_name'])) #total number of schools
Total_Students = len(school_data_complete['student_name']) #total number of students
Total_Budget = "${:,.2f}".format(sum(school_data_complete['budget'])) #total budget
Avg_Math = "{:.2f}".format(school_data_complete["math_score"].mean()) #average math scores
Avg_Read = "{:.2f}".format(school_data_complete["reading_score"].mean()) #average reading scores

Top_Math_Students = school_data_complete.loc[school_data_complete["math_score"] > 69] #all students with passing math scores
Percent_High_Math = "{:.2f}".format((len(Top_Math_Students)/Total_Students)*100) #percentage of students with passing math scores
Top_Reading_Students = school_data_complete.loc[school_data_complete["reading_score"] > 69] #all students with passing reading scores
Percent_High_Read = "{:.2f}".format((len(Top_Reading_Students)/Total_Students)*100) #percentage of students with passing math scores
Percent_Passing_df = Top_Math_Students.merge(Top_Reading_Students, how = 'inner' ,indicator=False) #dataframe listing number of students with passing math and reading scores
Percent_Passing = "{:.2f}".format((len(Percent_Passing_df)/Total_Students)*100) #percentage of students with passing math and reading scores

#Create a dataframe to hold the above results
raw_info = {
    "Total Schools": [Total_Schools],
    "Total Students": [Total_Students],
    "Total Budget": [Total_Budget], 
    "Average Math Score": [Avg_Math], 
    "Average Reading Score": [Avg_Read], 
    "% Passing Math": [Percent_High_Math], 
    "% Passing Reading": [Percent_High_Read], 
    "% Overall Passing": [Percent_Passing]
}

info_df = pd.DataFrame(raw_info, columns=["Total Schools", "Total Students", "Total Budget", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"])
info_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,"$82,932,329,558.00",78.99,81.88,74.98,85.81,65.17

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [30]:
# calculate the type, total students, budget, average math score, and average reading score per school
School_Group = school_data_complete[["school_name", "type", "size", "budget", "math_score", "reading_score"]].groupby("school_name")
School_Comparison = School_Group.mean()

# calculate per student budget, percent passing reading, percent overall passing
# NEED TO PROPERLY FORMAT THIS VALUE
School_Comparison.insert(4, "Per Student Budget", (School_Comparison["budget"]/School_Comparison["size"]).astype(float).map("${:,.2f}".format), allow_duplicates = False)

#calculate students per school with math scores > 69

#I know that Top_Math_Students will give me a dataframe of all students with a passing math score, Top_Reading_Students will
# give me a datafrome of all students with a passing reading score, and Percent_Passing_df will give me all students on both
# lists. I need to automatically filter all three of those dataframes by each of the school_name values in School_Comparison,
# and then do the math to figure out the percentages. The problem I'm encountering is that I can't figure out how to 
# automate this process. As far as I know, I'm not allowed to hard-code the school names into this section- the code needs 
# to figure out how to calculate each school's passing grade values for itself without me naming all the schools manually.

#calculate percent passing math

#calculate percent passing reading

#calculate percent overall passing

#create dataframe to hold results

School_Comparison

,size,budget,math_score,reading_score,Per Student Budget
school_name,,,,,
Bailey High School,4976.0,3124928.0,77.048432,81.033963,$628.00
Cabrera High School,1858.0,1081356.0,83.061895,83.975780,$582.00
Figueroa High School,2949.0,1884411.0,76.711767,81.158020,$639.00
Ford High School,2739.0,1763916.0,77.102592,80.746258,$644.00
Griffin High School,1468.0,917500.0,83.351499,83.816757,$625.00
Hernandez High School,4635.0,3022020.0,77.289752,80.934412,$652.00
Holden High School,427.0,248087.0,83.803279,83.814988,$581.00
Huang High School,2917.0,1910635.0,76.629414,81.182722,$655.00
Johnson High School,4761.0,3094650.0,77.072464,80.966394,$650.00
Pena High School,962.0,585858.0,83.839917,84.044699,$609.00
Rodriguez High School,3999.0,2547363.0,76.842711,80.744686,$637.00
Shelton High School,1761.0,1056600.0,83.359455,83.725724,$600.00
Thomas High School,1635.0,1043130.0,83.418349,83.848930,$638.00
Wilson High School,2283.0,1319574.0,83.274201,83.989488,$578.00
Wright High School,1800.0,1049400.0,83.682222,83.955000,$583.00

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type